html {
  height: 100%;
  width: 100%;
  overflow-x:hidden;
}

*, input, select, textarea, option, button {
  outline: none!important;
}

@mixin transform-all($value) {
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  //-ms-transform: scale($value);
  -o-transform: scale($value);
  transform: scale($value);

  // For IE to avoid errors
  -ms-transform: scale(1.1);

}

@mixin transition-all($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin flex-width($boxMargin, $elementsInOneRow) {
  $linesInsideElement: calc(#{$elementsInOneRow} - 1);
  width: calc((100% / #{$elementsInOneRow}) - ((#{$boxMargin} * #{$linesInsideElement}) / #{$elementsInOneRow}));

  margin-right: $boxMargin;
  margin-bottom: $boxMargin;
  &:nth-child(#{$elementsInOneRow}n) {
    margin-right: 0;
  }

}

// Taken from (https://loading.io/css/)
@mixin loading-spinner-animation() {
  .loading-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .loading-spinner div {
    position: absolute;
    border: 4px solid #000000;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .loading-spinner div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0;
      left: 0;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
}

// Taken from (https://loading.io/css/)
@mixin loading-spinner-animation-row() {
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 13px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

}

// Small screen(ss) helper
@mixin ss($point) {

  $usm: "(max-width: 450px)";
  $sm: "(max-width: 750px)";
  $md: "(max-width: 768px)";
  $lg: "(max-width: 992px)";

  @if $point == usm {
    @media #{$usm}  {
      @content;
    }
  } @else if $point == sm {
    @media #{$sm} {
      @content;
    }
  } @else if $point == md {
    @media #{$md} {
      @content;
    }
  } @else if $point == lg {
    @media #{$lg}  {
      @content;
    }
  }


}



