@import './styles/global';

$color: rgba(67, 63, 59, 0.83);
$hover-color: rgb(28, 25, 23);
$main-font: 'Karla', sans-serif;
;

header {
  background: linear-gradient(180deg, rgba(65, 74, 85, 0.8), hsla(0, 0%, 100%, 0));
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    font-family: $main-font;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: -.15rem;
    color: rgba(255, 255, 255, 0.26);
  }
}

.container {
  max-width: 900px;
  min-width: 250px;
  margin: 100px auto;
  overflow: hidden;

  .search-container {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    padding: 25px;

    .movie-boxes {

      $boxMargin: 10px;
      $numberOfMoviesInRow: 3;
      @include flex-width($boxMargin, $numberOfMoviesInRow);

      height: 350px;
      overflow: hidden;


      @include ss(sm) {
        &:nth-child(#{$numberOfMoviesInRow}n) {
          margin-right: $boxMargin;
        }
        @include flex-width($boxMargin, 2);
        height: 300px;

        @include ss(usm) {
          @include flex-width($boxMargin, 1);
          height: 350px;
          margin-bottom: 40px;
        }

      }
      @include transition-all(all .2s);
      @include transform-all(1.001);

      &:hover {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.10);
        @include transform-all(1.03);
      }

      img {
        height: 100%;
        width: 100%;
        max-height: 500px;
        max-width: 500px;
        object-fit: cover;
        z-index: 1;
      }

      .filter {
        position: absolute;
        margin-bottom: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        height: 60%;
        width: 100%;

        &:after {
          position: absolute;
          content: "";
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgb(10, 9, 9) 100%);
        }
      }

      .info {
        position: absolute;
        bottom: 10px;
        z-index: 3;
        padding: 10px;

        h3 {
          font-family: $main-font;
          color: white;
          margin: 0 0 5px;
        }

        p {
          font-family: $main-font;
          color: white;
          margin: 0 0 5px;
        }

      }

      &.ie-only {
        width: 220px;
        margin:20px;
        img {
          width: auto;
          height: auto;
          min-width: 100%;
          min-height: 100%;
          position: absolute;
          right: 50%;
          transform: translate(50%, 0);
        }
      }

    }



  }

  .input-container {
    padding: 40px 10px;
    text-align: center;

    .search-input {
      margin: auto;
      width: 80%;
      padding: 15px 10px;
      border-radius: 5px;
      font-family: $main-font;
      font-size: 1.2rem;
      border: 1px solid rgba(130, 130, 130, 0.65);

      &:hover {
        border: 1px solid $hover-color;
      }
    }
  }

  .button-container {
    text-align: center;
    margin: auto;
    padding: 15px;

    .more-button {
      padding: 10px 0;
      min-width: 200px;
      font-family: $main-font;
      color: $color;
      background-color: transparent;
      border: 1px solid $color;
      margin: 0 0 5px;
      font-size: 1.20rem;
      border-radius: 3px;
      @include transition-all(background-color 100ms linear);

      &:hover {
        cursor: pointer;
        background-color: rgba(0, 19, 255, 0.05);
      }
    }
  }

  .message-container {
    font-family: $main-font;
    position: relative;
    text-align: center;
    padding: 15px;

    &.info-message {

    }

    &.loading-message {
      @include loading-spinner-animation-row();
    }

  }

}




