<header>
  <div class="logo">
    Movies | Application
  </div>
</header>


<div class="container">

  <div class="input-container">
    <input type="text" class="search-input" (keyup)='onKeyUp($event)' placeholder="Search movie...">
  </div>

  <div class="message-container info-message" *ngIf="errorMessage && !loading">
    {{ errorText }}
  </div>

  <div class="message-container loading-message" *ngIf="loading">
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  </div>

  <div class="search-container" *ngIf="!loading && !errorMessage">
    <a [ngClass]="isIEOrEdge ? 'movie-boxes ie-only' : 'movie-boxes'"  *ngFor=" let result of movies " routerLink={{result.imdbID}}>
      <img [src]=" result.Poster !== 'N/A' ? result.Poster : defaultImageUrl " [alt]="result.Title"/>
      <div class="info">
        <h3>{{ result.Title }}</h3>
        <p>{{result.Year}} · {{result.Type}}</p>
      </div>
      <div class="filter"></div>
    </a>
  </div>

  <div class="button-container">
    <button type="button" class="more-button" (click)="addMore()" *ngIf="showButton"> More</button>
  </div>

</div>

<router-outlet></router-outlet>
