<div class="modal" [ngClass]="(openModal)?'openModal':'closeModal'" (click)="onCloseModal()">
  <div class="movie-container" (click)="onButtonClick($event)">
      <div class="close-button" (click)="onCloseModal()"></div>
      <div class="movie-inner" *ngIf="!loading">

        <div class="left-side">
          <img [src]=" currentMovieElement.Poster !== 'N/A' ? currentMovieElement.Poster : defaultImageUrl " [alt]="currentMovieElement.Title"/>
        </div>

        <div class="right-side">

          <h1>
            {{ currentMovieElement.Title }}
          </h1>

          <p>
            {{ currentMovieElement.Plot }}
          </p>

          <p>{{currentMovieElement.Year}} · {{currentMovieElement.Genre}}</p>
          <p>{{currentMovieElement.Runtime}} · {{currentMovieElement.Type}}</p>

          <h4>Rating</h4>
          <p>Overall: {{currentMovieElement.imdbRating}}</p>

        </div>

      </div>
      <div class="movie-inner-default" *ngIf="loading">
        <div class="loading-spinner"><div></div><div></div></div>
      </div>

  </div>
</div>


