@import '../../styles/global';

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
};

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility:hidden;
  }

  to {
    opacity: 1;
    visibility:visible;
  }
};

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 1050;
  overflow-x: hidden;
  overflow-y: auto;

  ::-webkit-scrollbar {
    display: none;
  }

  background-color: rgba(0, 0, 0, 0.47);
  visibility: hidden;

  .movie-container {
    position: relative;
    background-color: white;
    max-width: 900px;
    overflow: auto;
    margin: 25px auto;

    border-radius: 10px;

    @include ss(lg) {
      margin-left: 25px;
      margin-right: 25px;

      @include ss(sm) {
        margin: 0;
        border-radius: 0;
        height: 100%;
      }

    }



    .movie-inner {

      //margin:35px;
      background-color: white;
      overflow: hidden;
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      padding: 45px;

      .left-side {
        overflow: hidden;
        img {
          max-height: 450px;
          height:100%;
          object-fit: cover;

          @include ss(sm) {
            height: 300px;
          }

        }
      }

      .right-side {
        text-align: left;
        h1 {
          font-size: 2rem;
        }

        p {
          font-size: 0.85rem;
        }

        h4 {
          margin-bottom: 5px;
        }

        h1, p, h4 {
          font-family: 'Karla', sans-serif;
          padding-left: 5px;
          padding-right: 5px;
        }

      }

      .left-side,
      .right-side {
        $boxMargin: 10px;
        $elementsInOneRow: 2;
        @include flex-width($boxMargin, $elementsInOneRow);

        @include ss(sm) {
          width: 100%;
        }

      }

    }

    .movie-inner-default {
      height: 450px;
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      @include loading-spinner-animation();
    }

  }

}

.openModal {
  visibility: visible;
  animation: fadeIn 0.2s ease-out;
}

.closeModal {
  visibility: hidden;
  animation: fadeOut 0.2s ease-out;
}


.close-button {
  z-index: 3;
  position: absolute;
  background-color: white;
  margin-left: 10px;
  margin-top: 10px;
  width: 32px;
  height: 32px;
  opacity: 0.3;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  &:before,
  &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

